<html>
  <head>
    <title>%f</title>
    <style>
body { font-family: monospace; }
.lineno  { color: #046a28; }
.token   { color: #0e229b; }
.string  { color: #9b560e; }
.skipeol { color: #af00d7; }
    </style>
  </head>
  </body>
    <pre>%p</pre>
  </body>
</html>
